<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Here's a random selection of your stored plant images...</p>
    <p>
      <%= link_to "Go to My Cactus on Rails!", plants_path, class: "btn btn-primary" %>
      <%= link_to "View more random plants", root_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">
        <%= image_tag("cactus_1_sq.png", width: "356", height: "280") %>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <%= image_tag("cactus_2_sq.png", width: "356", height: "280") %>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <%= image_tag("cactus_3_sq.png", width: "356", height: "280") %>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>

      <div class="card">
        <%= image_tag("cactus_4_sq.png", width: "356", height: "280") %>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="Plant image">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="Plant image">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

  </div>
</div>