<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Welcome to Cactus on Rails, the best cactus and succulent cataloguing system you always needed...</p>
    <p>
      <%= link_to "Go to My Cactus Collection!", plants_path, class: "btn btn-primary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="card">
        <%= image_tag("cactus_1_sq.png", width: "356", height: "280") %>
        <p class="card-text">Add your own cactus images along with detailed plant notes.</p>
      </div>
      <div class="card">
        <%= image_tag("cactus_4_sq.png", width: "356", height: "280") %>
        <p class="card-text">You can add plant care notes, potting dates and other information.</p>
      </div>
      <div class="card">
        <%= image_tag("cactus_3_sq.png", width: "356", height: "280") %>
        <p class="card-text">You can add as many plant images as you wish!</p>
      </div>
    </div>
  </div>
</div>