<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Here are your stored plants...</p>
    <p>
      <%= link_to "Add New Plants", new_plant_path, class: "btn btn-primary" %>
      <%= link_to "Home", root_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <table id="plants">
      <thead>
        <th>Plant Type</th>
        <th>Genus</th>
        <th>Species</th>
        <th>Common Name</th>
      </thead>
      <tbody>
        <% @plants.each do |plant| %>
        <tr>
          <td>
            <%= link_to plant do plant.plant_type end %>
          </td>
          <td>
            <%= link_to plant do plant.genus end %>
          </td>
          <td>
            <%= link_to plant do plant.species end %>
          </td>
          <td>
            <%= link_to plant do plant.common_name end %>
          </td>
        </tr>
        <% end %> 
      </tbody>
    </table>

    <div class="row">
      <% @plants.each do |plant| %>
          <%= link_to plant do %>
              <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Plant image">
                <p class="card-text">
                  Plant Type:
                  <%= plant.plant_type %>
                </p>
                <p class="card-text">
                  Genus:
                  <%= plant.genus %>
                  Species:
                  <%= plant.species %>
                </p>
                <p class="card-text">
                  Common Name:
                  <%= plant.common_name %>
                </p>
              </div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>