<section class="jumbotron text-xs-center">
  <div class="container">
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Here are your stored plants...</p>
    <p>
      <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"> </i> Add New Plant'.html_safe, new_plant_path, class: "btn btn-info" %>
      <%= link_to "Home", root_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container-jen">

    <table id="plants">
      <thead>
        <th>Genus</th>
        <th>Species</th>
        <th>Common Name</th>
        <th>Pot Type</th>
        <th>Images</th>
        <th>Edit / Delete</th>
      </thead>
      <tbody>
        <% @plants.each do |plant| %>
        <tr data-turbolinks="false">
          <td>
            <%= link_to plant do plant.genus end %>
          </td>
          <td>
            <%= link_to plant do plant.species end %>
          </td>
          <td>
            <%= link_to plant do plant.common_name end %>
          </td>
          <td>
            <%= link_to plant do image_tag(plant.pot_type_images[plant.pot_type], :size => "50x50") end %>
          </td>
          <td>
            <% if plant.plant_images.empty? %>
                <%=  'no images' %>
            <% else %>
              <% plant.plant_images.each_with_index do |plant_image, ix| %>
                <% if ix < 3 && plant_image.image_upload && plant_image.image_upload.url(:thumb) %>
                  <%= link_to plant do %>
                  <%= image_tag(plant_image.image_upload.url(:thumb)) %>
                <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_plant_path(plant) do %>
              <i class="fa fa-2x fa-pencil-square-o edit-icon" aria-hidden="true"></i>  
            <% end %>
            <%= link_to plant, method: :delete do %>
              <i class="fa org fa-2x fa-remove delete-icon"></i>
            <% end %>
          </td>
        </tr>
        <% end %> 
      </tbody>
    </table>

  </div>
</div>