<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Add a new plant</p>
    <p>
      <%= link_to "View my Plants", plants_path, class: "btn btn-primary" %>
      <%= link_to "Add New Plants", new_plant_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <%= form_for(@plant, url: plants_path) do |f| %>
      <div class="form-group">
        <div class="col-sm-3">
          <%= f.label :plant_type %><br>
          <%= f.select(:plant_type, @plant.plant_types, {}, { :class => 'form-control' }) %>
        </div>
      </div>

      <div class="clearfix"></div>
      <br>

      <p>
        <%= f.label :genus %><br>
        <%= f.text_field :genus, :size => '50' %>
      </p>

      <p>
        <%= f.label :species %><br>
        <%= f.text_field :species, :size => '50' %>
      </p>

      <p>
        <%= f.label 'Common name(s)' %><br>
        <%= f.text_field :common_name, :size => '80' %>
      </p>

      <p>
        <%= f.label :source %><br>
        <%= f.text_field :source, :size => '50' %>
      </p>

      <p>
        <%= f.label :acquired_date %><br>
        <%= f.text_field :acquired_date, :class => 'datepicker' %>
      </p>

      <div class="checkbox">
        <%= label_tag(:grown_from_seed, "Grown from seed? ") %>
        <%= check_box_tag(:grown_from_seed) %>
      </div>

      <p>
        <%= f.label :planted_date %><br>
        <%= f.text_field :planted_date, :class => 'datepicker' %>
      </p>

      <p>
        <%= f.label :pot_type %><br>
        <%= f.select(:pot_type, @plant.pot_types, {}, { :class => 'form-control' }) %>
      </p>

      <p>
        <%= f.label :pot_size %><br>
        <%= f.select(:pot_size, @plant.pot_sizes, {}, { :class => 'form-control' }) %>
      </p>

      <p>
        <%= f.label :care_notes %><br>
        <%= f.text_area :care_notes, :size => "80%x10%"  %>
      </p>

      <p>
        <%= f.label :repotted_date %><br>
        <%= f.text_field :repotted_date, :class => 'datepicker' %>
      </p>

      <p>
        <%= f.label :next_repotting_date %><br>
        <%= f.text_field :next_repotting_date, :class => 'datepicker' %>
      </p>

      <p>
        <%= f.label :notes %><br>
        <%= f.text_area :notes, :size => "80%x10%"  %>
      </p>

      <h3>Images</h3>
      <div id="images">
        <%= f.fields_for :plant_images do |plant_image| %>
          <%= render 'plant_image_fields', f: plant_image %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add another Plant Image', f, :plant_images, class: "btn btn-success" %>
        </div>
      </div>
        <br>

      <div class="clearfix"></div>
        <br><br>


      <div class="submit-wrapper">
         <p>
           <%= f.submit 'Save Plant', :class => 'btn btn-primary' %>
        </p>
      </div>

    <% end %>

  </div>
</div>