<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Add a new plant</p>
    <p>
      <%= link_to "View my Plants", plants_path, class: "btn btn-primary" %>
      <%= link_to "Add New Plants", new_plant_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <%= form_for(@plant, url: plants_path) do |f| %>
      <div class="form-group">
        <div class="col-sm-3">
          <%= f.label :plant_type %><br>
          <%= f.select(:plant_type, [['Cactus', 'Cactus'], ['Succulent', 'Succulent']], {}, { :class => 'form-control' }) %>
        </div>
      </div>

      <div class="clearfix"></div>
      <br>

      <p>
        <%= f.label :genus %><br>
        <%= f.text_field :genus %>
      </p>

      <p>
        <%= f.label :species %><br>
        <%= f.text_field :species %>
      </p>

      <p>
        <%= f.label :common_name %><br>
        <%= f.text_field :common_name %>
      </p>

      <div class="checkbox">
        <%= f.label :grown_from_seed %><br>
        <%= check_box_tag(:grown_from_seed) %>
      </div>

      <p>
        <%= f.label :notes %><br>
        <%= f.text_area :notes %>
      </p>

      <p>
        <%= f.fields_for :plant_images do |plant_image| %>
            <%= plant_image.label :image_upload %><br>
            <%= plant_image.file_field :image_upload %>
        <% end %>
      </p>
     
      <p>
        <%= f.submit %>
      </p>
    <% end %>

  </div>
</div>