<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Plant Details</p>
    <p>
      <%= link_to "Add New Plants", new_plant_path, class: "btn btn-primary" %>
      <%= link_to "View my Plants", plants_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <div class="row plant-details-container">
        <h4>
          Plant Type: 
          <%= @plant.plant_type %>
        </h4>
        <div class="plant-label">
          <h5>
            Genus:
            <%= @plant.genus %>
          </h5>
          <h5>
            Species:
            <%= @plant.species %>
          </h5>
          <h5>
            Common Name:
            <%= @plant.common_name %>
          </h5>
        </div>
        <div class="planting-details-label">
          <h5>Planting Details</h5>
          <p>
            Grown from seed?
            <%= @plant.grown_from_seed ? 'Yes' : 'No' %>
          </p>
        </div>
        <div class="plant-notes-label">
          <h5>Plant Notes</h5>
          <p>
            <%= @plant.notes %>
          </p>
        </div>
    </div>
    <div class="clearfix"></div>

    <% if !@plant.plant_images.empty? %>

      <div class="row">
          <h4>PLANT IMAGES</h4>
          <% @plant.plant_images.each do |plant_image| %>
            <div class="card">
              <p class="card-text">
                <%= link_to image_tag(plant_image.image_upload.url(:mid)), plant_image.image_upload.url, { :class => "galleried-elements", :title=> plant_image.get_display_title, :rel => "zomg_awesome_images" } %>
                (click to view full size)
              </p>
            </div>
          <% end %>
      </div>

    <% end %>

  </div>
</div>