<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cactus on Rails!</h1>
    <%= image_tag("happy_cactus.jpg") %>
    <p class="lead text-muted">Plant Details</p>
    <p>
      <%= link_to "Add New Plants", new_plant_path, class: "btn btn-primary" %>
      <%= link_to "View my Plants", plants_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row plant-details-container">

      <div class="plant-label">
        <h5>
          <%= @plant.display_title %>
        </h5>
        <h6>
          Plant Type:
          <%= @plant.plant_type %>
        </h6>
      </div>
    </div>

      <% unless @plant.plant_images.empty? %>
          <div class="row plant-images-container">
            <% @plant.plant_images.each do |plant_image| %>
                <div class="card">
                  <p class="card-text">
                    <%= link_to image_tag(plant_image.image_upload.url(:mid)), plant_image.image_upload.url, { :class => "galleried-elements", :title=> plant_image.get_display_title, :rel => "zomg_awesome_images" } %>
                    (click to view full size)
                  </p>
                </div>
            <% end %>
          </div>
      <% end %>

    <div class="row plant-details-container">
        <div class="planting-details-label">
          <h5>Source and Planting Details</h5>
          <p>
            Source:
            <%= @plant.source %>
          </p>
          <p>
            Grown from seed?
            <%= @plant.grown_from_seed ? 'Yes' : 'No' %>
          </p>
          <%= image_tag(@plant.pot_type_images[@plant.pot_type], :size => "50x50", :class => 'right-float-img') %>
          <p>
            Pot Type:
            <%= @plant.pot_type %>
          </p>
          <p>
            Pot Size:
            <%= @plant.pot_size %>
          </p>
        </div>
      <div class="plant-planning-label">
        <h5>Planning and Actions</h5>

      </div>
    </div>
    <div class="row plant-details-container">
        <div class="plant-notes-label">
          <h5>Care Notes</h5>
          <p>
            <%= @plant.care_notes %>
          </p>
        </div>
        <div class="plant-care-label">
          <h5>Plant Notes</h5>
          <p>
            <%= @plant.notes %>
          </p>
        </div>
    </div>
    <div class="clearfix"></div>



  </div>
</div>